@media (max-width: 359px) {
    html{
        font-size: 72%
    } 
}

@media (min-width: 360px) {
    html{
        font-size: 76%
    } 
    .window{
        top: 20%;
        left: 18%;
    }
    .window-cadastro{
        top: 20%;
        left: 18%;
    }

}
@media (min-width: 1023px) {
    html{
        font-size: 100%
    } 
    .window{
        top: 10%;
        left: 38%;
    }
    .window-cadastro{
        top: 10%;
        left: 38%;
    }

}
